<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if article %}{{ article.content | striptags | truncate(150) }}{% else %}{{ SITE_DESCRIPTION }}{% endif %}">

    <link rel="stylesheet" type="text/css" href="{{ SITE_URL }}/theme/css/main.css" />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109694212-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-109694212-1', {
      anonymize_ip: true,
      cookie_expires: 0
    });
  </script>
</html>
