{% extends "layouts/base.html" %}

{% block body %}
<header class="site-header">
  <div class="nav-container">
    <input type="checkbox" id="toggleNavbar">
    <h1 class="logo"><a href="{{ SITEURL }}/">{{ AUTHOR }}</a></h1>
    <label for="toggleNavbar" role="button" class="toggle-navbar-button">
      <i class="icon icon-menu"></i>
      <i class="icon icon-cross"></i>
    </label>
    <nav class="navbar">
      <ul>
        {% for title, path in NAVBAR %}
          <li><a href="{{ SITEURL }}/{{ path }}" title="{{ title }}">{{title}}</a></li>
        {% endfor %}
        <li><a href="#" target="_blank">rss</a></li>
      </ul>
    </nav>
  </div>
</header>

<main class="main-container">
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</main>

{% include "includes/footer.html" %}
{% endblock %}
