---
layout: pages
---

<article role="article" class="post">

  <div>
    <header class="post-header">
      <h2 class="post-title">{{ page.title }}</h1>
      <div class="post-info">
        <time>written on {{ page.date | date: "%A, %B %-d, %Y" }} </time>
        {% if page.tags %} • {{ page.tags }}{% endif %}
      </div>
    </header>

    <div class="post-content">
      {% if page.image %}
        <figure class="post-thumbnail {% if page.image %}{% else %}no-image{% endif %}">
          <img src="{{ page.image }}" alt="{{ page.title }}">
        </figure>
      {% endif %}
      {{ content }}
    </div>

  </div>

  {% include comments.html %}
</article>
