{% extends "layouts/pages.html" %}

{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}
{% block meta %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@jezeniel" />
  <meta name="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <meta name="og:title" content="{{ article.title }}" />
  <meta name="og:description" content="{{ article.content | striptags | truncate(150) }}" />
  <meta name="og:image" content="{{ SITEURL }}/images/site.png" />
{% endblock %}

{% block content %}
<article role="article" class="post">
  <div>
    <header class="post-header">
      <h2 class="post-title">{{ article.title }}</h1>
      <div class="post-info">
        <time>published on {{ article.date.strftime("%A, %B %-d, %Y") }} </time>
        {% if article.tags %} • {{ article.tags | join(",") }}{% endif %}
      </div>
    </header>

    <div class="post-content">
      {% if article.image %}
        <figure class="post-thumbnail {% if article.image %}{% else %}no-image{% endif %}">
          <img src="{{ article.image }}" alt="{{ article.title }}">
        </figure>
      {% endif %}
      {{ article.content }}
    </div>
  </div>
</article>

<p class="post-note">
  Do you have any questions, suggestions, corrections or violent reactions? You can send
  me an <a href="{{ EMAIL_URL }}">email</a> or a tweet to <a href="{{ TWITTER_URL }}">@jezeniel</a>.
  While I am still figuring out the best comment section plugin for my website.
<p>
{% endblock %}
